trigger:
  - main

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "18.x"
    displayName: "Install Node.js"

  - script: npm install
    displayName: "Install dependencies"

  - script: npm test
    displayName: "Run tests"

  - script: npm run allure:generate
    displayName: "Generate Allure HTML report"
    condition: always()

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: "$(Build.SourcesDirectory)"
      artifactName: "source"
      publishLocation: "Container"
    displayName: "Publish project as artifact"

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: "artifacts/junit/*.xml"
      testResultsFormat: "JUnit"
      mergeTestResults: true
      failTaskOnFailedTests: true
    condition: always()
