trigger:
  - main

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "18.x"
    displayName: "Install Node.js"

  - script: npm install
    displayName: "Install dependencies"

  - script: npm test
    displayName: "Run tests"

  - script: npm run allure:generate
    displayName: "Generate Allure HTML report"
    condition: always()

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: "artifacts/allure-report"
      artifactName: "allure-report"
      publishLocation: "Container"
    displayName: "Publish Allure report"

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: "artifacts/junit"
      artifactName: "junit"
      publishLocation: "Container"
    displayName: "Publish JUnit results"
