trigger:
  - main

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "18.x"
    displayName: "Install Node.js"

  - script: npm install
    displayName: "Install dependencies"

  - script: npm test
    displayName: "Run tests"

  - script: npx allure generate ./artifacts/allure-results --clean
    displayName: "Generate Allure HTML report"
    condition: always()

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: "allure-report"
      artifactName: "allure-html"
      publishLocation: "Container"
    displayName: "Publish Allure HTML"
    condition: always()

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: "artifacts/junit/*.xml"
      testResultsFormat: "JUnit"
      failTaskOnFailedTests: true
    condition: always()
